 <ul>
    <li><a class="btshow tooltipM" href="/ontology/show/<%=@ontology.id%>"><span><b></b>Visualizar Ontologia</span></a></li>
    <li><a class="btaddU tooltipM" href="/ontology/add_user/<%=@ontology.id%>"> <span><b></b>Adicionar Colaborador</span></a></li>
    <li><a class="btdt tooltipM" href="/ontology/details/<%=@ontology.id%>"><span><b></b>Detalhes</span></a></li>
    <li><a class="bted tooltipM" href="/ontology/edit/<%=@ontology.id%>"><span><b></b>Editar</span></a></li>
    <li><a class="btex tooltipM" href="/ontology/destroy/<%=@ontology.id%>"><span><b></b>Destruir</span></a></li>
</ul>
