<h1>Artefato: Fontes de Informação e Estratégias de Análise</h1>
<h1>Ontologia <%=@document.version.ontology.name%> - Versão <%=@document.version.number%></h1>
<h2>Projeto</h2>
<p><%=@document.version.ontology.project_name%></p>
<h2>Domínio</h2>
<p><%=@document.version.ontology.domain%></p>
<h2>Fontes de Informação</h2>
<p><%=@document.sources%></p>
<h2>Estratégias de Análise</h2>
<p><%=@document.strategies%></p>