<h1>Artefato: Descrição do Ciclo de Vida da Ontologia</h1>
<h2>Projeto</h2><p><%=@document.version.ontology.project_name%></p>
<h2>Nome da Ontologia</h2><p><%=@document.version.ontology.name%></p>
<h2>Versão da Ontologia</h2><p><%=@document.version.number%></p>
<h2>Data</h2><p><%=my_date(@document.date)%></p>
<h2>Domínio</h2><p><%=@document.version.ontology.domain%></p>
<!--<h2>Responsável</h2><p><%=@document.responsible%></p>-->
<h2>Propósito/Objetivo</h2><p><%=@document.purpose%></p>
<h2>Considerações Gerais</h2><p><%=@document.obs%></p>