<h1>Artefato: Plano de Avaliação do Ciclo de Vida da Ontologia</h1>
<h1>Ontologia <%=@document.version.ontology.name%> - Versão <%=@document.version.number%></h1>
<h2>Projeto:</h2><p><%=@document.version.ontology.project_name%></p>
<h2>Domínio:</h2><p><%=@document.version.ontology.domain%></p>
<h2>Definição dos Critérios de Qualidade:</h2>
<%=@document.quality_criteria%>