<h1>Artefato: Plano de Análise de Viabilidade do Projeto</h1>
<h2>Projeto</h2><p><%=@document.ontology.project_name%></p>
<h2>Nome da Ontologia:</h2><p><%=@document.ontology.name%></p>
<h2>Data de Criação:</h2><p><%=my_date(@document.created_at)%></p>
<h2>Data de Atualização: </h2><p><%=my_date(@document.updated_at)%></p>
<h2>Domínio:</h2><p><%=@document.ontology.domain%></p>
<h2>Oportunidades:</h2><p><%=@document.opportunities%></p>
<h2>Problemas:</h2><p><%=@document.problems%></p>
<h2>Soluções Potenciais:</h2><p><%=@document.solutions%></p>
<h2>Recursos:</h2><p><%=@document.features%></p>
<h2>Conclusão:</h2><p><%=@document.conclusion%></p>