<h1>Editing methodstep</h1>

<% form_for(@methodstep) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :inlifecycle %><br />
    <%= f.check_box :inlifecycle %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @methodstep %> |
<%= link_to 'Back', methodsteps_path %>
