<h1>Listing doc_artefacts</h1>

<table>
  <tr>
    <th>Answer</th>
  </tr>

<% for doc_artefact in @doc_artefacts %>
  <tr>
    <td><%=h doc_artefact.answer %></td>
    <td><%= link_to 'Show', doc_artefact %></td>
    <td><%= link_to 'Edit', edit_doc_artefact_path(doc_artefact) %></td>
    <td><%= link_to 'Destroy', doc_artefact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New doc_artefact', new_doc_artefact_path %>
